
<!-- <div class="row">
    
      
    <mat-card class="example-card col-xs-4" routerLink="./wedding">
      <div class="short-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Weddings</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="./assets/images/wedding.jpg" alt="Photo of a wedding">
        <mat-card-content>
          
        </mat-card-content>
        </div>
      </mat-card>
    
      <mat-card class="example-card col-xs-4" routerLink="./birthday"> 
        <div class="short-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Birthdays</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src="./assets/images/birthday.jpg" alt="Photo of a birthday">
          <mat-card-content>
            
          </mat-card-content>
          </div>
        </mat-card>
      
        <mat-card class="example-card col-xs-4" routerLink="./seminar">
          <div class="short-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Seminars</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="./assets/images/seminar.jpg" alt="Photo of a seminar">
            <mat-card-content>
             
            </mat-card-content>
            </div>
          </mat-card>
        
        
      </div> -->


<div class="sec-for-mats ">
    
      <mat-card  class="col-xs-4" routerLink="/events-info/wedding" >
        <mat-card-header>
          <mat-card-title>Wedding</mat-card-title>
          <!-- <mat-card-subtitle>Something we specialize in</mat-card-subtitle> -->
        </mat-card-header>
        <div class="img-container">
          <img mat-card-image src="./assets/images/wedding.jpg" alt="wedding photo">
        </div>
        <mat-card-content>
          wedding is somejomh 
        </mat-card-content>

        
      </mat-card>
    



      <mat-card class="col-xs-4" routerLink="/events-info/birthday" >
        <mat-card-header>
          <mat-card-title>Birthday</mat-card-title>
          <!-- <mat-card-subtitle>Something we specialize in</mat-card-subtitle> -->
        </mat-card-header>
        <div class="img-container">
          <img mat-card-image src="./assets/images/birthday.jpg" alt="wedding photo">
        </div>
        <mat-card-content>
          wedding is somejomh 
        </mat-card-content>

       
      </mat-card>
    

      <mat-card class="col-xs-4" routerLink="/events-info/seminar" >
        <mat-card-header>
          <mat-card-title>Seminar</mat-card-title>
          <!-- <mat-card-subtitle>Something we specialize in</mat-card-subtitle> -->
        </mat-card-header>
        <div class="img-container">
          <img mat-card-image src="./assets/images/seminar.jpg" alt="wedding photo">
        </div>
        <mat-card-content>
          wedding is somejomh 
        </mat-card-content>

        
      </mat-card>
    
     

    </div>
  
