    <div class="container">
        <h1>EVENTS & YOU</h1>
        <div class="topnav">
          <ul>
              <li>
                <button class="btn btn-primary" (click)="hamburgerMenuClicked()">
                <span class="fa fa-bars fa-2x"></span></button>
              </li>
            <li><a class="" href="/events-info/home"><i class="fa fa-home fa-2x"></i>Home</a></li>
            <li><a class="" href="#"><i class="fa fa-phone fa-2x"></i>Contact Us</a></li>
            <li><a class="" href="#"><i class="fa fa-info-circle fa-2x"></i>About Us</a></li>
            <li><a class="search-icon" href="#"><i class="fa fa-search fa-2x" ></i>Search</a></li>
            
          </ul>
        </div> 
    </div>