<div class="container">
  <h1>EVENTS & YOU</h1>
  <div class="topnav">
    <ul>
        <li><i class="fa fa-bars fa-2x"></i></li>
      <li><a class="" href="#"><i class="fa fa-home fa-2x"></i>Home</a></li>
      <li><a class="" href="#"><i class="fa fa-phone fa-2x"></i>Contact Us</a></li>
      <li><a class="" href="#"><i class="fa fa-info-circle fa-2x"></i>About Us</a></li>
      <li><a class="search-icon" href="#"><i class="fa fa-search fa-2x" ></i>Search</a></li>
      
    </ul>
  </div> 
  
  <div class="row">
    
    
    <!-- <div class="col-sm-4"> -->
      
      <mat-card class="example-card col-xs-4" >
        <div class="short-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Weddings</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <img mat-card-image src="./assets/images/wedding.jpg" alt="Photo of a wedding">
          <mat-card-content>
            <p>
              Weddings
            </p>
          </mat-card-content>
          </div>
        </mat-card>
      <!-- </div> -->
      
      <!-- <div class="col-sm-4">  -->
        <mat-card class="example-card col-xs-4">
          <div class="short-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Birthdays</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="./assets/images/birthday.jpg" alt="Photo of a birthday">
            <mat-card-content>
              <p>
                Birthdays
              </p>
            </mat-card-content>
            </div>
          </mat-card>
        <!-- </div>  -->
        
        <!-- <div class="col-sm-4">  -->
          <mat-card class="example-card col-xs-4">
            <div class="short-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Seminars</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image src="./assets/images/seminar.jpg" alt="Photo of a seminar">
              <mat-card-content>
                <p>
                  Seminars
                </p>
              </mat-card-content>
              </div>
            </mat-card>
          <!-- </div>  -->
          
        </div>
      </div>
    
      